/* Blockquote */
blockquote {
  background-color: #f2f6f9;
  padding: 10px;
  border-color: #4b9be8;
  border-radius: 5px;
}

/* Table */
table {
  width: auto !important;
}
thead {
  border-top: solid #f2f6f9;
  border-bottom: solid #f2f6f9;
}

/* Highlight Color */
::selection {
  background-color: #f2f6f9 !important;
  color: #4b9be8 !important;
}
::-moz-selection {
  background-color: #f2f6f9 !important;
  color: #4b9be8 !important;
}
